{% extends 'layout.html' %}

{% block content %}
<h1>HOME</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit neque, iure iusto libero quas dolor excepturi modi
    nostrum officiis, consequatur quos quibusdam perspiciatis numquam laboriosam cupiditate reprehenderit porro est
    ullam eveniet atque quae debitis. Unde illo totam, non esse delectus fugiat saepe voluptatibus, dolorem, quia
    officiis nam quibusdam. Quos sunt architecto tempora ducimus veritatis esse repudiandae, nostrum numquam consequatur
    amet doloribus laboriosam perspiciatis in, voluptate a tenetur ex, quasi neque debitis id unde molestiae obcaecati
    veniam? Ipsam fugit exercitationem quia molestiae, a quidem molestias accusantium? Similique voluptatem, quasi
    reprehenderit dolorum cum exercitationem voluptate tenetur deleniti voluptatum pariatur voluptas ab eaque?</p>
{% endblock %}